{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
   Payment
{% endblock head %}

{% block breadcrumb %}
    {% for group in user.groups.all %} {% if group.name == 'manager' %}
    <li class="breadcrumb-item"><a href="{% url 'billing:managerdashboard' %}">Home</a></li>
    {% else %}
    <li class="breadcrumb-item"><a href="{% url 'billing:manage_orders' %}">Home</a></li>
    {% endif %}
    {% endfor %}
    <li class="breadcrumb-item"><a href="{% url 'billing:manage_orders' %}">Manage Activities</a></li>
    <li class="breadcrumb-item active">Payment</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-7">
        <div class="card  card-primary card-outline pl-4 pt-4 ml-4 mt-4">
            <div class="card-header">
                <h3 class="profile-username text-center text-muted">DVLA</h3>
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Order No.</b> <a class="float-right text-muted">{{order.id}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Customer</b> <a class="float-right text-muted">{{order.customer.name}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Contact</b> <a class="float-right text-muted">{{order.customer.phone}}</a>
                    </li>

                    <li class="list-group-item">
                        <b>Date</b> <a class="float-right text-muted">{{order.order_date}}</a>
                    </li>

                </ul>
            </div>
            <div class="card-body">
                <table class="table table-striped table-sm" id="my_friends">
                    <thead>
                        <tr>
                            <th>Activity</th>
                            <th>Unit Price(GHC)</th>
                            
                            {% for group in user.groups.all %} {% if group.name == 'manager' %}
                                
                            <th>Action</th>
                            {% endif %}
                            {% endfor %}

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in detail %}
                        <tr>
                            <td>{{item.product.name}}</td>
                            <td>{{item.unit_price}}</td>
                            {% for group in user.groups.all %} {% if group.name == 'manager' %}
                                
                            <td>
                                <a class ="btn btn-sm btn-outline-danger" href="{% url 'billing:deletes_items' item.id %}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                            {% endif %}
                            {% endfor %}
                           

                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            
                        </tr>

                        <tr>

                            <td><b>Sub Total</b></td>
                            <td><b>{{order.gross_price}}</b> </td>

                        </tr>
                        
                        

                    </tbody>
                </table>
                <div class="row">

                    

                    
                    <div class="col ">
                        <a class="btn btn-sm btn-outline-danger mt-2 ml-2" href="{% url 'billing:correction_state' %}">Send For Correction
                            </a>

                    </div>
                    <div class="col ">
                        <a class="btn btn-sm btn-outline-info mt-2 ml-2" href="{% url 'billing:correction_checkout' order.id %}">Proceed To Check
                            Out</a>

                    </div>

                </div>

            </div>
            
        </div>
    </div>
    <div class="col-5">
        <div class="card  card-primary card-outline pt-4 mt-4">
            <form id="friend-form" method="post" novalidate>
                {% csrf_token %}
                
                    <div class="card-body">
                        <div class="form-group ">
                            {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                            {% endfor %}

                            <div class=" col-md-4 mx-auto">
                                {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                    {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>

                            <div class="row">
                                <div class="form-group col">
                                    <label for="">Select Activity.</label>
                                    {{ form.product|as_crispy_field }}
                                </div>
                                
                            </div>

                            <div class="form-row">
                                <div class="col text-center">
                                    <button class="btn  btn-sm btn-outline-primary" value="Create Friend">Add To Chart</button>
                                </div>

                            </div>

                        </div>
                    </div>
                
            </form>
            
        </div>
    </div>

</div> 
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#friend-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'billing:orderitems' %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $("#friend-form").trigger('reset');
                // 2. focus to nickname input
                $("#id_product").focus();

                // display the newly friend to table.
                var instance = JSON.parse(response["instance"]);
                var fields = instance[0]["fields"];
                $("#my_friends tbody").prepend(
                    `<tr>
                   <td>${fields["product"] || ""}</td>
                   <td>${fields["unit_price"] || ""}</td>
                   </tr>`

                )
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    });

</script> -->
{% endblock %}